head
    meta(charset='utf-8')
    title= locals.title
    script(src='/scripts/modal.js')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='shortcut icon', href='/images/favicon.ico' type="image/x-icon")
    link(rel='icon', href='/images/favicon.ico' type="image/x-icon")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Satisfy')
