mixin divider()
	span &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;  

.nav
	a(href="/") HOME
	+divider()
	a(href="/photos") PHOTOS
	+divider()
	a(href="/about") ABOUT
	+divider()
	a(href="http://bouchatphotography.com", target="_blank") BLOG
