
h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre {
  margin: 0; padding: 0; border: 0;
}

body {
  font-family: 'Lora', serif;
  font-size: 21px;
  line-height: 1.52;
  text-rendering: optimizeLegibility;
}

html {
  	background: url(/images/MyFamily.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

.nav {
	background-color: black;
	opacity: 0.5;
	padding: 20px;
	font-size: 22px;
	color: white;
}

.nav a {
	color: white;
	text-decoration: none;
}

.nav a:hover {
	color: #f8f8f8;
}

.nav .copyright {
	float: right;
}

.contents {
	padding: 20px;
}

.contents h1 {
	font-family: 'Stardos Stencil', cursive;
	position: absolute;
	bottom: 30px;
	padding-left: 30px;
	font-size: 100px;
	color: white;
}

