mixin photo(title, file)
	.thumbnail
		.crop
			a(onclick="openModal('" + file + "')")
				img(src=locals.cdn + "/thumbnails/" + file, title=title)

extends index
block content
	each image in page.metadata.images
		+photo(image.title, image.file)

.modal
	img(src=locals.cdn + "/images/cowboy.jpg") 

