mixin photo(title, file)
	.thumbnail
		.crop
			a(ng-click="selectPhoto('" + file + "')", href="#modal")
				img(src=locals.cdn + "/thumbnails/" + file, title=title)

extends index
block content
	div(ng-controller="ModalCtrl")
		each image in page.metadata.images
			+photo(image.title, image.file)
	
		#modal.modalDialog(ng-if="selectedPhoto")
			a(ng-click="selectPhoto(null)", href="#") Close
			img(ng-src=locals.cdn + "/images/{{selectedPhoto}}") 

