mixin divider()
	span &nbsp;&nbsp;|&nbsp;&nbsp;

extends index
block content

	div.topics
		a(ng-click="topic = 'Cuba'", href="#") Cuba
		+divider()
		a(ng-click="topic = 'NYC'", href="#") NYC
		+divider()
		a(ng-click="topic = 'Bonneville'", href="#") Bonneville
		+divider()
		a(ng-click="topic = 'Landscape'", href="#") Landscape
		+divider()
		a(ng-click="topic = 'California'", href="#") California
		+divider()
		a(ng-click="topic = 'TROG'", href="#") TROG

	div(ng-controller="ModalCtrl")
		span(ng-repeat="image in photos | filter:{tags: topic}")
			.thumbnail
				.crop
					a(ng-href=locals.cdn + "/images/{{image.file}}")
						img(ng-src=locals.cdn + "/thumbnails/{{image.file}}", ng-title="{{image.title}}")

	p.footer &#169; #{ new Date().getFullYear() } Brussels LLC	
